@import "reset.css";
@import "variables.css";

/* components */
@import "components/login.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/profile.css";
@import "components/dot.css";
@import "components/find-top.css";


/* screens */
@import "screens/status-bar.css";
@import "screens/friends.css";
@import "screens/find-mid.css";
@import "screens/more.css";
@import "screens/setting.css";

input:focus {
    outline:none;}

body {
    height: 1000vh;
}

